:root {

 --color-branco: #ffffff;
 --color-preto: #000000;
 --color-royal: royalblue;
 --color-blue: darkblue;
 --color-laranja: darkorange;
 --color-gray: darkgray;
 --color-cinza: #808080;
 --color-metal:#595959;
 --color-cinza_rodape:#bebaba;
 --color-ardosia:darkslateblue;
 --color-acinzentado:#bebaba;
 --vermelho-titulo: #8d0606;
 --font-family_titulo:pacifico , cursive;
 --cursor:pointer;
 --padding-titulo: 1rem;
 --font-size_titulo:2.35rem;
 
 
 

}
