:root {

    --cor0: #ffffff;
    --cor1: darkgray;
    --cor2: #808080;
    --cor3: #595959;
    --cor4: #bebaba;
    --cor5: #777791;
    --cor6: royalblue;
    --cor7: darkblue;
    --cor8: darkslateblue;
    --cor9: darkorange;
    --cor10: #8d0606;
    --cor11: #000000;
    --cor12: #77b978;
    --cor13: #d6b7b7;
    --cor14: #73a573;
    --cor15:blue;
    --font-titulo: pacifico, cursive;
    --size-titulo: 2.35rem;
    --padding-titulo: 1rem;


}