/*contato da página principal/index*/
.contato__conteudo {

    
    background:linear-gradient(rgb(169, 204, 169),white,rgb(147, 147, 199));
    padding:20px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
     
    
}
.contato__icone:hover {

    -webkit-transform: scale(1.1);
    cursor:pointer;
    border-radius:10px;

}
.contato__icone{

    margin-left:400px;
}

.contato__titulo {

    text-transform: uppercase;
    margin-right:600px;
    font-weight: bold;
    font-size:18px;
    
}
.contato__social__midia{

    background:rgb(113, 221, 221);
    display:flex;
    flex-direction: row;
    padding:20px;
    justify-content: space-around;
   
    
}
.contato__midia:hover {
    -webkit-transform: scale(1.2);
    cursor:pointer;
}

/*contato da página contato.html*/


.contato__agendamento{


    background:linear-gradient(rgb(135, 135, 177),white,rgb(226, 179, 187));
    padding:20px 0;
}
.contato__formulario{

    margin-left: 40px;
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}
#dados{

    padding-top:10px;
}
.input-padrao {
    
    display:block;
    margin: 0 0 20px;
    padding:10px 25px;
    width:30%;
}
.checkbox {

    margin: 20px 0;
}
select {
    
    font-weight: bold;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    margin:5px 0 10px 0;
}
.enviar {

    width: 25%;
    padding:1px 0;
    background:rgb(121, 121, 219);
    color:#ffffff;
    font-weight: bold;
    font-size:16px;
    border: none;
    border-radius:5px;
    transition: 1s all;
    cursor: pointer;
    margin:5px 0 20px 0;
}
.enviar:hover {

	background: darkorange;
	transform: scale(1.2) ;
	transform: rotate(2deg);
	
}
td,th {

	border: 1px solid #000000;
	padding: 8px 15px;
    font-weight: bold;
    background-color: darkgray;
    color:#ffffff;
}
caption{

    margin:10px 0 20px 0;
    text-transform: uppercase;
    font-weight: bolder;
    color:#808080;
}

.tabela {

    margin-left: 40px;
   
}

/*para mobile Samsung Galaxy S8+*/


@media screen and (max-width: 360px){

    .contato__agendamento{

     width:1124px;

    }
    
    .rodape__conteudo {
       padding-left: 180px; 
      
    }
    .rodape__autor{

      padding-right: 80px;
    }
    .rodape__logo{

        right:100px;
        display:absolute;
    }
    .rodape__endereco{

           
        
        position:relative;
        right:100px;
    }

}    