.rodape__conteudo {

    background: linear-gradient(rgb(182, 218, 182), white, rgb(155, 155, 221));

    padding: 20px;
}

.rodape__logo {

    position: relative;
    display: block;
    bottom: 15px;
    margin-left: 20px;
}

.rodape__endereco {

    font-size: 18px;
    margin-left: 20px;
}

.rodape__autor {

    padding: 10px;
    background-color: var(--cor5);
    font-size: 16px;
    font-weight: bolder;
    text-align: center;


}

.copyright {

    margin-top: 10px;
    color: var(--cor10);
    font-weight: bolder;
    margin-right: 30px;
}

.whatsapp {

    position: fixed;
    top: 82%;
    right: 1%;
    padding: 10px;
    z-index: 10000000;
    font-size: 80px;
    cursor: pointer;
    color: var(--cor12);
}

@media screen and (max-width: 360px) {


    .rodape__conteudo {
        width: 1400px;

        background: linear-gradient(rgb(182, 218, 182), white, rgb(155, 155, 221));
    }

    .rodape__logo {

        left: 20px;
        display: absolute;
    }

    .rodape__endereco {

        width: 1400px;
        
    }

    .rodape__autor {

        width: 1500px;
    }
    .whatsapp{

    margin-right:80px;
    position:fixed;
    top: 22%;
    right: 1%;
    padding: 20px;
    z-index: 10000000;
    }


}