.rodape__conteudo{

    background:linear-gradient(rgb(182, 218, 182),white,rgb(155, 155, 221));
    
    padding:20px;
}
.rodape__logo {

    position:relative;
    display:block;
    bottom: 15px;
    margin-left: 20px;
}
.rodape__endereco {

    font-size:18px;
    margin-left:20px;
}
.rodape__autor{

    padding:10px;
    background-color: var(--color-acinzentado);
    font-size:16px;
    font-weight: bolder;
    text-align:center;
    
    
}
.copyright {

    margin-top:10px;
    color:var(--vermelho-titulo);
    font-weight:bolder;
    margin-right:30px;
}



/*para mobile Samsung Galaxy S8+*/


@media screen and (max-width: 360px){

    .rodape__conteudo {
        padding-left: 180px; 
       
     }
     .rodape__logo{
    
        right:100px;
        display:absolute;
    }
    .rodape__endereco{
    
               
        position:relative;
        right:100px;
    }
     .rodape__autor{
    
       padding-left:120px;
     }
   
    
}