.foto1 {

    background: var(--cor7);
    gap: 10px;
    min-width: 100px;
    background-repeat: no-repeat;
    font-family: cursive;
    color:var(--cor0);
    font-size:30px;
    height: 170px;
    position:relative;
    cursor:pointer;
    box-shadow: 10px 10px #777791;
     
}
.foto1:hover #ola{
    opacity:2;
    transition:opacity 1s;

}

.foto1 #ola{

    display:inline-block;
    margin-top: 70px;
    position:relative;
    margin-left:50px;
    height:30px;
    text-shadow: 5px 10px var(--cor10);
    opacity:0;
    text-align: center;
   
}

.foto2 {

    background:url("../../img/penteado_noiva.jpg");
    background-repeat: no-repeat;
    height: 170px;
    box-shadow: 10px 10px #d6b7b7;
    
}
.foto2__penteado {
    padding-top:5px;
    text-align: center;
    
}
.foto3 {

    background: url("../../img/floral_comentarios.png");
    height: 170px;
    box-shadow: 10px 10px #73a573;

}
.foto3__paisagem{

    text-align:center;
    padding-top:5px;

}

/*para mobile Samsung Galaxy S8+*/

@media screen and (max-width: 360px){

    .foto1, .foto2, .foto3 {
    
        width: 200px;
    }
}    