.contato__agendamento {

    background: linear-gradient(rgb(135, 135, 177), white, rgb(226, 179, 187));
    padding: 20px 0;
}

.contato__formulario {

    margin-left: 40px;
    padding-top: 90px;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

#dados {

    padding-top: 10px;
}

.input-padrao {

    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 30%;
}

.data {

    margin-bottom: 10px;
}

select {

    font-weight: bold;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    margin: 5px 0 10px 0;
}

.checkbox {

    margin: 20px 0;
}

.enviar {

    width: 25%;
    padding: 1px 0;
    background: rgb(121, 121, 219);
    color: var(--cor0);
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 5px 0 20px 0;
}

.enviar:hover {

    background: var(--cor9);
    transform: scale(1.2);
    transform: rotate(2deg);

}

td,
th {

    border: 1px solid var(--cor11);
    padding: 8px 15px;
    font-weight: bold;
    background-color: var(--cor1);
    color: var(--cor0);
}

.tabela {

    margin-left: 40px;

}

caption {

    margin: 10px 0 20px 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--cor2);
}

@media screen and (max-width: 360px) {

    .contato__agendamento {

        width: 1400px;

    }


}