

.banner__servicos {

    background: url("../../img/servicos.jpg");
    height: 100vh;
    padding:20px;

}
.servico {

    text-align:center;
    padding: 2rem;
}
.servico__titulo {

    padding: var(--padding-titulo);
    color: var(--color-vermelho);
    font-size:var(--font-size_titulo);
    font-family: var(--font-family_titulo);
    
}
.servicos {

    padding:20px;
    display:flex;
    justify-content: space-around;
    padding-top: 2rem;
    
}


/*para mobile Samsung Galaxy S8+*/


@media screen and (max-width: 360px){

    .banner__servicos{

        width: 960px;
    }
    .servico__titulo{

        margin-left: 390px;
        
    }
    
    
}    
